<html>
    <head>
        <title>Contact Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='custom.css' rel='stylesheet' type='text/css'>
        <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    </head>
    <body ng-app="myApp">

        <div ng-controller="AppController as ctrl" class="container">

          

              <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/about"><i class="fa fa-shield"></i> About</a></li>
                  
                </ul>


                <div class="col-lg-12 ">

                    <h1 style="margin-left: 31%">Sample Contact Application</h1>

                     

               

                    <form class="form-horizontal" ng-submit="ctrl.submit()" name="userForm" role="form" novalidate>




  <div class="row">
                                    
                    <fieldset class="form-group mb-1 col-md-6 pl-0">
                      
                        <input type="hidden" ng-model="ctrl.user.id" />
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }" >
            <label  class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control" ng-model="ctrl.user.name" required pattern=".{2,}" />
                
                                      <span ng-show="userForm.name.$error.required && !userForm.name.$pristine" class="help-block">This is a required field</span>
                                      
                                      <!-- <span ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">This field is invalid </span> -->
                                  
            </div>
           

        </div>
      </fieldset>
   
        

                                    
        <fieldset class="form-group mb-1 col-md-6 pl-0">
        <div class="form-group" ng-class="{ 'has-error' : userForm.dob.$invalid && !userForm.dob.$pristine }">
            <label class="col-sm-3 control-label">DoB</label>
            <div class="col-sm-6">
                <input type="date" id="dob" name="dob" class="form-control" ng-model="ctrl.user.DoB" required max="2018-02-15" />
                <p ng-if="userForm.dob.$error.max" class="help-block">Dob can't be in future</p>
                
                                      <span ng-show="userForm.dob.$error.required && !userForm.dob.$pristine" class="help-block">This is a required field</span>
                                      
                                      <!-- <span ng-show="userForm.dob.$invalid && !userForm.dob.$pristine" class="help-block">This field is invalid </span> -->
                                  
            </div>
           
        </div>
      </fieldset>
   




                                    
       <fieldset class="form-group mb-1 col-md-6 pl-0">
        
        <div class="form-group " ng-class="{ 'has-error' : userForm.gender.$invalid && !userForm.gender.$pristine }">
            <label for="gender" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-6">
                <select name="gender" class="form-control" ng-model="ctrl.user.gender" required>
                    
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                
                                      <span ng-show="userForm.gender.$error.required && !userForm.gender.$pristine" class="help-block">This is a required field</span>
                                      
                                     <!--  <span ng-show="userForm.gender.$invalid && !userForm.gender.$pristine" class="help-block">This field is invalid </span> -->
                                  
            </div>
           
        </div>
      </fieldset>
    



                                    
      <fieldset class="form-group mb-1 col-md-6 pl-0">
            <div class="form-group" ng-class="{ 'has-error' : userForm.age.$invalid && !userForm.age.$pristine }">
            <label class="col-sm-3 control-label">Age</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="age" ng-model="ctrl.user.age" pattern=".{2,}" required max='100' min='1' />
               
                                      <span ng-show="userForm.age.$error.required && !userForm.age.$pristine" class="help-block">This is a required field</span>

                                      <span ng-show="myForm.age.$error.min">Count should be above 0</span>
                                       <span ng-show="myForm.user.$error.max">Count should be below 30.</span>
                                      
                                      <span ng-show="!userForm.age.$error.required && userForm.age.$invalid && !userForm.age.$pristine" class="help-block">Age is invalid </span>
                                 
            </div>
          

        </div>
      </fieldset>
  


 <fieldset class="form-group mb-1 col-md-6 pl-0">
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label class="col-sm-3 control-label">Email ID</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" name="email" ng-model="ctrl.user.email" required="" />
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
         

        </div>
    </fieldset>



       <fieldset class="form-group mb-1 col-md-6 pl-0">

        <div class="form-group" ng-class="{ 'has-error' : userForm.phn.$invalid && !userForm.phn.$pristine }">
            <label class="col-sm-3 control-label">Phone Number</label>
            <div class="col-sm-6">
                <input type="number" name="phn" class="form-control" ng-model="ctrl.user.phn" required ng-minlength="10" ng-maxlength="10" />
              
                                      <span ng-show="userForm.phn.$error.required && !userForm.phn.$pristine" class="help-block">This is a required field</span>
                                      
                                  <!--     <span ng-show="userForm.phn.$invalid && !userForm.phn.$pristine" class="help-block">This field is invalid </span> -->
                                      <span
                                      ng-show="((userForm.phn.$error.minlength ||
                           userForm.phn.$error.maxlength) && 
                           userForm.phn.$dirty) " class="help-block">
                           phone number should be 10 digits</span>
                                

            </div>
           

        </div>
    </fieldset>


 <fieldset class="form-group mb-1 col-md-6 pl-0">
        <div class="form-group" ng-class="{ 'has-error' : userForm.state.$invalid && !userForm.state.$pristine }">
            <label class="col-sm-3 control-label">State</label>
            <div class="col-sm-6">
                <select class="form-control" name="state" ng-model="ctrl.user.state" required>
                    <option value="male">Andhra Pradesh </option>
                    <option value="male">Arunachal Pradesh </option>
                    <option value="male">Andhra Pradesh </option>

                    <option value="male">Assam </option>
                    <option value="male">Bihar </option>
                    <option value="male">Goa </option>
                    <option value="male">Gujarat </option>
                    <option value="male">Haryana</option>
                    <option value="male">Himachal Pradesh </option>
                    <option value="male">Jammu & Kashmir </option>
                    <option value="male">Karnataka </option>
                    <option value="male">Kerala </option>
                    <option value="male">Madhya Pradesh </option>
                    <option value="male">Maharashtra </option>

                    <option value="male">Manipur </option>
                    <option value="male">Meghalaya </option>
                    <option value="male">Mizoram </option>
                    <option value="male">Nagaland</option>
                    <option value="male">Orissa </option>
                    <option value="male">Punjab </option>
                    <option value="male">Rajasthan</option>
                    <option value="male">Sikkim  </option>
                    <option value="male">Tamil Nadu </option>
                    <option value="male">Tripura </option>
                    <option value="male">Uttar Pradesh </option>
                    <option value="male">West Bengal </option>
                    <option value="male">Chhattisgarh </option>
                    <option value="male">Uttarakhand</option>
                    <option value="male">Jharkhand</option>
                    <option value="male">Telangana</option>


                    
                </select>
       
                                      <span ng-show="userForm.state.$error.required && !userForm.state.$pristine">This is a required field</span>
                                      
                                     <!--  <span ng-show="userForm.state.$invalid && !userForm.state.$pristine">This field is invalid </span> -->
                                  </div>
            
        
        </div>
    </fieldset>



     <fieldset class="form-group mb-1 col-md-6 pl-0">

        <div class="form-group" ng-class="{ 'has-error' : userForm.zip.$invalid && !userForm.zip.$pristine }">
            <label class="col-sm-3 control-label">Zip</label>
            <div class="col-sm-6">
                <input type="text" name="zip" class="form-control" ng-minlength="6" ng-maxlength="6" ng-model="ctrl.user.zip" required />
           
                                      <span ng-show="userForm.zip.$error.required && !userForm.zip.$pristine" class="help-block" >This is a required field</span>
                                      
                                      <!-- <span ng-show="userForm.zip.$invalid && !userForm.zip.$pristine" class="help-block">This field is invalid </span>
 -->                                       <span
                                      ng-show="((userForm.zip.$error.minlength ||
                           userForm.zip.$error.maxlength) && 
                           userForm.zip.$dirty) " class="help-block">
                           zip should be 6 digits</span>
                                  
            </div>
   

        </div>
    </fieldset>




    


<fieldset class="form-group mb-1 col-md-6 pl-0">
  
        <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
            <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-6">
                <input type="text" name="address" class="form-control" ng-model="ctrl.user.address" required />
              
                                      <span ng-show="userForm.address.$error.required && !userForm.address.$pristine" class="help-block">This is a required field</span>
                                      
                                     <!--  <span ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">This field is invalid </span> -->
                                  
            </div>
            
        </div>
</fieldset>



<fieldset class="form-group mb-1 col-md-6 pl-0">
</fieldset>

</div>


<div class="row">

  <div class="col-sm-4"></div>
<div class="col-sm-2 form-group mb-1">

   <input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn  btn-info  bg-blue bg-darken-2 btn-block" ng-disabled="userForm.$invalid">
                                        
                                    </div>

<div class="col-sm-1"></div>
                                    <div class="col-sm-2 form-group mb-1">

  <button type="button" ng-click="ctrl.reset()" class="btn  btn-info  bg-blue bg-darken-2  btn-block" ng-disabled="userForm.$pristine">Clear</button>
                                    </div>
                                  </div>

       <!-- <fieldset class="form-group mb-1 col-md-6 pl-0">
           
                          <div class="form-actions col-sm-3">
                              <input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="userForm.$invalid">
                            </div>
                            <div class="form-actions col-sm-3">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="userForm.$pristine">Clear</button>
                          </div>
                  </fieldset> -->
        
        <!-- <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="resetForm()" > -->
    </form>

                </div>

          


            <div class="col-lg-12">


            <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Users </span></div>
              <div class="tablecontainer table-responsive">
                  <table class="table mb-0 table-striped m-b-0 f-14 zero-configuration" id="example"  cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              
                              <th>Name</th>
                           
                              
                              <th>Email</th>
                              <th> Phone Number</th>
                              <th width="100"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in ctrl.userrr track by $index">
                              
                              <td><span ng-bind="u.name"></span></td>
                     
                              
                              <td><span ng-bind="u.email"></span></td>
                              <td><span ng-bind="u.phn"></span></td>
                              <td>
                              <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button> 
                              </td> 
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>

        </div>
    
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
        <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        

        <script>

            $(document).ready(function() {
    $('#example').DataTable();
} );

          var app= angular.module('myApp', ['ngRoute']);
         
         app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "index.html",
        controller:"AppController"
    })
    .when("/about/", {
        templateUrl : 'about.html',
                controller  : 'aboutController'
    })
    .otherwise({
                redirectTo: "/"
            });
    
});
          app.controller('AppController', ['$scope','$window', function($scope, $window) {
              var self = this;
              self.max = new Date();
              



              self.user={id:null,name:'',address:'',dob:'', gender:'', age:'',phone:'', state:'', zip:'', email:''};
              self.id = localStorage.getItem('ids');
               
              self.users = [
                      
              ];

              self.userss = localStorage.getItem('todos');
              self.userrr= JSON.parse(self.userss)
              if(self.userrr==null){
                self.userrr=[]
              }
               
              self.submit = function() {

               
               
                  if(self.user.id === null){

                    if(self.id==null){
                      self.id=1;
                    }
                   
                    self.user.id = self.id++;

                    
                     self.users=self.userrr;
                      
                      console.log('Saving New User', self.user);
                      console.log(self.users)    
                      // self.userk= JSON.stringify(self.user)
                      self.users.push(self.user)
                      console.log(self.users)


                      localStorage.setItem('ids',JSON.stringify(self.id));


                      localStorage.setItem('todos', JSON.stringify(self.users));


                    
                  }else{
                      for(var i = 0; i < self.userrr.length; i++){
                        console.log(self.userrr)
                          if(self.userrr[i].id === self.user.id) {
                            self.userrr[i] = self.user;
                            break;
                          }
                      }
                     console.log('User updated with id ', self.user.id);

                  }

                  // self.userrr.push(JSON.parseJSON.stringify(self.users))
                  
                  console.log(self.userrr)

                  if (confirm("Successfully added !")) {
                     $window.location.reload();
      
    } else {
      $window.location.reload();
    }

                 
                 

                  self.reset();
              };
               
              self.edit = function(ids){
                  console.log('id to be edited', ids);
                  for(var i = 0; i < self.userrr.length; i++){
                    console.log(self.userrr[i].id)
                      if(self.userrr[i].id === ids) {
                         self.user = angular.copy(self.userrr[i]);
                         break;
                      }
                  }
              }
               
            
               
              self.reset = function(){
                  self.user={id:null,name:'',address:'',email:''};
                  $scope.userForm.$setPristine(); //reset Form
              }
 
      }]);





          app.controller('aboutController', function($scope) {
            console.log("aaya")
        $scope.message = 'Look! I am an about page.';
    });

  </script>

        
    </body>
</html>